<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
</head>
<body>
    <header>
        {% block pagename %}
        <h1>
            {{ header }}
        </h1>
        {% endblock %}
    </header>

    <nav>
        {% block menu %}
        <h2>
            <a href="/platform">Главная</a>
            <p>
                <a href="/platform/games">Магазин</a>
            </p>
            <p>
                <a href="/platform/cart">Корзина</a>
            </p>
        </h2>
        {% endblock %}
    </nav>

    <main>
        {% block content%}
            <ul>
                <li>context</li>
            </ul>
        {% endblock %}
    </main>
</body>
</html>